<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <div layout:fragment="content">
        <th:block th:if="${error != null}">
            <div class="alert alert-danger m-2" role="alert" th:text="${error}">
            </div>
        </th:block>

        <div class="row">
            <h1 class="col-md-12 p-5">Admin Panel</h1>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#all">All Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#new">New User</a>
            </li>
        </ul>
        <div class="tab-content bg-white">
            <div class="tab-pane fade show active" id="all">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col">Roles</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="user: ${users}">
                        <tr>
                            <th scope="row" th:text="${user.id}"></th>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.password}"></td>
                            <td th:text="${user.getStringRoles()}"></td>
                            <td>
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalEdit"
                                        th:data-id="${user.id}" th:data-name="${user.name}" th:data-password="${user.password}" th:data-roles="${user.getStringRoles()}">Edit</button>
                            </td>
                            <td>
                                <form action="/admin/delete" method="post">
                                    <button name="id" th:value="${user.id}" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="new">
                <form action="/admin/add" method="post" class="p-5">
                    <div class="form-group">
                        <label for="InputName1">Name</label>
                        <input required="required" type="text" class="form-control" id="InputName1" placeholder="Name" name="name">
                        <small class="form-text text-muted">Name of new User.</small>
                    </div>
                    <div class="form-group">
                        <label for="InputPassword1">Password</label>
                        <input required="required" type="password" class="form-control" id="InputPassword1" placeholder="Password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="RoleSelect1">Example select</label>
                        <select multiple class="form-control" id="RoleSelect1" name="roles" required="required">
                            <th:block th:each="role: ${roles}">
                                <option th:text="${role.getShortName()}" th:value="${role.name}"></option>
                            </th:block>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/admin/change" method="post" id="formChange">
                            <div class="form-group">
                                <label for="InputName">Name</label>
                                <input required="required" type="text" class="form-control" id="InputName" placeholder="Name" name="name">
                                <small class="form-text text-muted">Name of User.</small>
                            </div>
                            <div class="form-group">
                                <label for="InputPassword">Password</label>
                                <input required="required" type="password" class="form-control" id="InputPassword" placeholder="Password" name="password">
                            </div>
                            <select multiple class="form-control" id="RoleSelect1" name="roles" required="required">
                                <th:block th:each="role: ${roles}">
                                    <option class="optional-edit" th:text="${role.getShortName()}" th:value="${role.name}"></option>
                                </th:block>
                            </select>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" form="formChange" class="btn btn-primary" name="id" id="SendChanges">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('#ModalEdit').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                var id = button.data('id')
                var name = button.data('name')
                var password = button.data('password')
                var roles = button.data('roles')

                var modal = $(this)
                var optional = $('.optional-edit')
                optional.each(function () {
                    if (roles.includes($(this).text())) {
                        $(this).prop('selected', true);
                    }
                });
                modal.find('#InputName').val(name);
                modal.find('#InputPassword').val(password);
                modal.find('#SendChanges').val(id);
            })
        </script>
    </div>
</body>
</html>