<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div layout:fragment="content">
    <table class="table table-hover bg-white">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Roles</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" th:text="${user.id}"></th>
                <td th:text="${user.name}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.getStringRoles()}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>