<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        body {
            text-align: center;
        }
        .table {
            margin: auto;
        }

        .delButton {
            display: inline-block;
        }

        .item {
            width: 100px;
            height: 40px;
            display: inline-block;
        }

        .row {
            padding: 30px;
            border: black 1px solid;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="table">
        <div class="row" th:each="user: ${users}">
            <div class="userBlock">
                <div class="item" th:text="${user.id}"></div>
                <div class="item" th:text="${user.name}"></div>
                <div class="item" th:text="${user.password}"></div>
                <form action="/delete" method="post" class="delButton item">
                    <button name="id" th:value="${user.id}">Delete</button>
                </form>
            </div>
            <div class="changeBlock">
                <form action="/change" method="post">
                    <button name="id" th:value="${user.id}">Change</button>
                    <input type="text" required="required" placeholder="name" name="name">
                    <input type="text" required="required" placeholder="surname" name="surname">
                    <input type="text" required="required" placeholder="password" name="password">
                </form>
            </div>
        </div>
    </div>
    <form action="/add" method="post">
        <input type="text" required="required" placeholder="name" name="name">
        <input type="text" required="required" placeholder="surname" name="surname">
        <input type="text" required="required" placeholder="password" name="password">
        <button type="submit">add</button>
    </form>
</body>
</html>